.panelWrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
    height: 100vh;
    
}

.panelWrapper div:not(:first-child) {
    margin-top: 20px;
}


@media only screen and (max-width: 1081px) {
    .panelWrapper {
     grid-template-columns: 1fr;
     overflow: scroll;
    }
  }