.mapCard {
    position: absolute;
    bottom: 0;
    right: -400px;
    margin: 32px;
    height: 540px;
    width: 310px;
    background-color: white;
    box-shadow:rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    border-radius: 12px;
    padding: 20px;
    transition: all 0.3s ease-in-out;
}

.mapCardOpen {
    right: 0;
    transition: all 0.3s ease-in-out;
}