.filterButton {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 60px;
  background-color: var(--light-grey-color);
  border-radius: 8px;
  cursor: pointer;
}

.filterButtonIcon {
  transform: scale(1.2);
}
